<!DOCTYPE html>
<div class="chat" >
    <p>message message message message message...</p>
    <a class="post_date" style="align-self: flex-end;">date</a>
</div>

<div class="chat2">
    <p>message message message message message...</p>
    <a class="post_date" style="align-self: flex-end;">date</a>
</div>

