{% extends "base.jinja2" %}
{% block title %} Discover Friends {% endblock %}
{% block content %}
    <div class="body_row">
        <div class="side_block">
            <img src="../static/img/affinity_logo.png" alt="logo">
        </div>
        <div class="post_window">
            <a class="section_title">Pending Requests</a>
            <div class="grid_container">
                {% include "user_card.jinja2" %}
            </div>
            <a class="section_title">Suggestions</a>
            <div class="grid_container">
                {% include "user_card.jinja2" %}
            </div>
        </div>
        <div class="side_block">
        </div>
    </div>
{% endblock %}