<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% for s in data %}
    <h1>{{ s }}</h1>
{% endfor %}
<ul>
    <li>
        <a href="/login_form">
            LoginForm
        </a>
    </li>
</ul>
</body>
</html>