<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login Form</h1>
<div>
    <form action="/login_form" method="post">
        <label>
            <input type="text" placeholder="Username" name="user">
        </label>
        <label>
            <input type="password" placeholder="Password" name="pass">
        </label>
        <button type="submit">Login</button>
    </form>
</div>
<ul>
    <li>
        <a href="/">
            Home
        </a>
    </li>
</ul>
</body>
</html>