{% extends "base.jinja2" %}
{% block title %} Home Page {% endblock %}
{% block content %}

    <div class="body_row">
        <div class="side_block">
            <img src="../static/img/affinity_logo.png" alt="logo">
        </div>
        <div class="post_window">
            <button type="button" class="btn btn-light" onclick="returnHome()">X</button>
            {% include "post.jinja2" %}
            <div class="comment_container">
                {% for comment in comments %}
                    <div class="media">
                        {#                        <img src="..." class="mr-3" alt="...">#}
                        <div class="media-body">
                            <h5 class="mt-0">{{ comment.author.name }}</h5>
                            {{ comment.text }}
                        </div>
                    </div>
                {% endfor %}

                <form method="post" action="/media">
                    <div class="form-group">
                        <label for="comment_text">Write comment:</label>
                        <textarea class="form-control" name="comment_text" id="comment_text" rows="3"></textarea>
                    </div>
                    <input type="hidden" name="action" value="post_comment">
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <button type="submit" class="btn btn-info">Send</button>

                </form>
            </div>

        </div>
        <div class="side_block">
        </div>
    </div>

    <script>
        function returnHome() {
            window.location.href = "/home_page";
        }
    </script>
{% endblock %}