{% extends "base.jinja2" %}
{% block title %} Profile {% endblock %}
{% block content %}
    <div class="body_row">
        <div class="side_block">
            <img src="../static/img/affinity_logo.png" alt="logo">
        </div>
        <div class="post_window" style="overflow:hidden">
            <div class="profile_header">
                <img src="" alt="pic">
                <a style="margin:0 1rem;">Name</a>
                {% if request.path != '/profile_posts' %}
                    <a class="post_date" style="margin:0 1rem;">[mutual friends]</a>
                {% endif %}
                <div style="margin-left: auto;">
                    {% if request.path == '/profile_posts' %}
                            <button type="button" class="btn btn-primary" onsubmit="logout()">Logout</button>
                    {% endif %}

                    <!-- add if condition if users are friends
                    <span>
                        <button type="button" class="btn btn-primary" onsubmit="openChat()">Chat</button>
                        <button type="button" class="btn btn-danger" onsubmit="deleteFriend()">Remove Friend</button>
                    </span>
                    -->

                    <!-- add if conditions if user is being sent friend request
                    <span>
                        <button type="button" class="btn btn-success" onsubmit="acceptFriend()">Accept</button>
                        <button type="button" class="btn btn-danger" onsubmit="acceptFriend()">Decline</button>
                    </span>
                    -->

                    <!-- add if condition if user already sent friend request
                    <span>
                        <a style="color: darkorange;"> Friend Request Already Sent. </a>
                    </span>
                    -->
                </div>
            </div>
            <div class="profile_post_window">
                {% include "post.jinja2" %}
            </div>
        </div>
        <div class="side_block">
        </div>
    </div>

    <script>
    function deleteFriend() {
        //script to delete a friend
    }
    </script>

    <script>
    function addFriend() {
        //script to add a friend
    }
    </script>

    <script>
    function acceptFriend() {
        //script to add a friend
    }
    </script>

    <script>
    function declineFriend() {
        //script to add a friend
    }
    </script>

    <script>
    function openChat() {
        //script to open chat with a friend or create a chat if not already exists
    }
    </script>

    <script>
    function logout() {
        //script for logging out
    }
    </script>

{% endblock %}

