{% extends "base.jinja2" %}
{% block title %} Settings {% endblock %}
{% block content %}
    <div class="body_row">
        <div class="side_block">
            <img src="../static/img/affinity_logo.png" alt="logo">
        </div>
        <div class="post_window">
            <a class="section_title">Security</a>
            <div class="grid_container">
                <a>Privacy Level: </a>
                <div class="input-group mb-3 d-flex">
                    <form class="w-100" action="/profile_settings" method="POST" id="change-privacy-form">
                    <label class="input-group-text" for="privacy_control">Options</label>
                    <select class="form-select" name="privacy_control" id="privacy_control">
                        <option selected disabled>Choose...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                        <input type="hidden" name="update" value="privacy_control"/>
                        <button class="btn btn-outline-secondary w-100" type="submit" id="edit_name_btn">Confirm Change</button>
                    </form>
                </div>
                <ul class="list-group list-group-flush bg-light border rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1rem" viewBox="0 0 512 512">
                        <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/>
                    </svg>
                    <li class="list-group-item">Level 1: Friends</li>
                    <li class="list-group-item">Level 2: Friends of friends</li>
                    <li class="list-group-item">Level 3: Friends of friends of friends</li>
                    <li class="list-group-item">...</li>
                    <li class="list-group-item">Level 6: Fully public</li>
                </ul>
            </div>
            <a class="section_title">Username & Password</a>
            <div class="grid_container" style="grid-template-columns: repeat(2, 1fr);">
                <a> Change Username: </a>
                <div class="input-group mb-3">
                    <form action="/profile_settings" method="POST" id="change-username-form">
                    <input type="text" class="form-control" placeholder="New username" id="username"
                           aria-label="New username" aria-describedby="button-addon2" name="username">
                        <input type="hidden" name="update" value="username"/>
                    </form>
                    <button class="btn btn-outline-secondary" form="change-username-form" type="button" id="edit_user_btn">Confirm Change</button>
                </div>
                <a> Change Password: </a>
                <div class="input-group mb-3">
                     <form action="/profile_settings" method="POST" id="change-pwd-form">
                    <input type="text" class="form-control" placeholder="New password" id="password" name="password"
                           aria-label="New password" aria-describedby="button-addon2">
                         <input type="hidden" name="update" value="password"/>
                     </form>
                    <button class="btn btn-outline-secondary" form="change-pwd-form" type="button" id="edit_pass_btn">Confirm Change</button>
                </div>
                <a> Change Name: </a>
                <div class="input-group mb-3">
                    <form action="/profile_settings" method="POST" id="change-name-form">
                    <input type="text" class="form-control" placeholder="New Name" name="name" id="name"
                           aria-label="New password" aria-describedby="button-addon2">
                        <input type="hidden" name="update" value="name"/>
                    </form>
                    <button class="btn btn-outline-secondary" form="change-name-form" type="button" id="edit_name_btn">Confirm Change</button>
                </div>
            </div>
            <a class="section_title">Profile</a>
            <div class="grid_container d-flex m-auto">
                    <div>
                        <img style="height: 20em" src="{{ session["user"]["photo_url"] }}" alt="profile picture"/>
                    </div>
                <div class="form-group" style="border-top:none">
                    <form action="/profile_settings" enctype="multipart/form-data" method="POST">
                        <label for="profile_picture">Profile Picture:</label>
                        <input type="file" accept="image/*" name="profile_picture" class="form-control" id="profile_picture">
                        <input type="hidden" name="update" value="picture"/>
                        <button class="btn btn-outline-secondary w-100" type="submit" id="edit_profile_btn">Confirm Change</button>
                    </form>
                </div>
            </div>
            <button type="button" class="btn btn-danger" style="margin-top:auto; align-self: center;" onsubmit="deleteProfile()">Delete Profile</button>
        </div>
        <div class="side_block">
            <a href="" style="margin-top:auto; align-self: center;"> Logout </a>
        </div>
    </div>

    <script>
    function deleteProfile() {
        //script for deleting personal profile
    }
    </script>
{% endblock %}