{% extends "base.jinja2" %}
{% block title %} Profile {% endblock %}
{% block content %}
    <div class="body_row">
        <div class="side_block">
            <img src="../static/img/affinity_logo.png" alt="logo">
        </div>
        <div class="post_window" style="overflow:hidden">
            <div class="profile_header">
                <div class="d-flex" style="height: 2em">
                <img src="{{ profile.photo_url }}" alt="pic">
                <a style="margin:0 1rem;">{{ profile.name }}</a>
                </div>
                {% if not curr_user %}
                    <a class="post_date" style="margin:0 1rem;">[{{ common_friends.get(profile.id) }} mutual friends.]</a>
                {% endif %}

                <span style="margin-left: auto;">
                    {% if not curr_user %}
                        {% if profile.id in curr_user.friends %}
                        <div class="btn">
                            <form method="post" action="/chats">
                                <input type="hidden" name="friend_id" value="{{ profile.id }}">
                                <input type="hidden" name="action" value="open_chat">
                                <button type="submit" class="btn btn-primary">
                                Chat
                                </button>
                            </form>
                        </div>
                        <div class="btn">
                                <button type="submit" class="btn btn-danger" onclick="addFriend('{{ profile.id }}', 'delete'); this.disabled=true;">
                                Remove Friend
                            </button>
                        </div>
                            {% else %}
                            <div class="btn">
                                <button type="submit" class="btn btn-success" onclick="addFriend('{{ profile.id }}', 'add'); this.disabled=true; this.value='Sent.'">
                                Add Friend +
                            </button>
                        </div>
                            {% endif %}
                    {% endif %}

                    <!-- add if conditions if user is being sent friend request
                    <span>
                        <button type="button" class="btn btn-success" onsubmit="acceptFriend()">Accept</button>
                        <button type="button" class="btn btn-danger" onsubmit="acceptFriend()">Decline</button>
                    </span>
                    -->

                    <!-- add if condition if user already sent friend request
                    <span>
                        <a style="color: darkorange;"> Friend Request Already Sent. </a>
                    </span>
                    -->
                </span>
            </div>
            <div class="profile_post_window">
                {% for post in posts %}
                    {% include "post.jinja2" %}
                {% endfor %}
            </div>
        </div>
        <div class="side_block">
        </div>
    </div>
{% endblock %}

