<!DOCTYPE html>

{% if side_items is defined %}
    <ol class="list-group">
    {% for element in side_items %}
        {% include "side_item.jinja2" %}
    {% endfor %}
    </ol>
{% else %}
    <ol class="list-group">
        {% include "side_item.jinja2" %}
    </ol>
{% endif %}
