<li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
        {% if request.path == '/chats' %}
            <a class="fw-bold" href="/chats?id={{ element[0].id }}">
                <span class="badge text-bg-secondary">#</span>
                {{ element[1].name }}
            </a>
        {% endif %}

        {% if request.path == '/communities_list' %}
            <a class="fw-bold" href="/communities_list?id={{ element["tag"].id }}">{{ element["tag"].name }}</a>
            <a class="post_date">{{ element["tag"].get_number_of_followers }} Number of followers</a>
        {% endif %}
    </div>

    {% if request.path == '/communities_list' %}
        <div class="btn">
            <form action="/communities_list?id={{ element["tag"].id }}" method="post">
                <input type="hidden" name="action" value="unfollow_tag">
                <input type="hidden" name="to_unfollow_community" value="{{ element["tag"].id }}">
                <button type="button" class="btn btn-warning">
                    Unfollow
                </button>
            </form>
        </div>

    {% endif %}

    {% if request.path == '/chats' %}
        <div class="btn">
            <form action="/chats?id={{ element[0].id }}" method="post">
                <input type="hidden" name="action" value="delete_chat">
                <input type="hidden" name="to_delete_group" value="{{ element[0].id }}">
                <button type="submit" class="btn btn-danger">
                    Delete Chat
                </button>
            </form>
        </div>
    {% endif %}
</li>