<!DOCTYPE html>
{% if request.path == '/friends_list' or request.path == '/communities_discover' or request.path == '/search_page'or request.path == '/friends_discover' %}
    <div class="card">

        {% if request.path == '/friends_list' or request.path == '/friends_discover' or (request.path == '/search_page' and friend is defined) %}
            <img src="{{ friend.photo_url }}" class="card-img-top" alt="profile picture">
        {% endif %}

        <div class="card-body">

            {% if request.path == '/friends_list' or request.path == '/friends_discover' or (request.path == '/search_page' and friend is defined) %}
                <h5 class="card-title"><a
                        href="{{ url_for('profile_posts.profile_posts', profile_id = friend.id) }}"> {{ friend.name }} </a>
                </h5>
                <p class="card-text">{{ common_friends.get(friend.id) }} mutual friends.</p>
            {% endif %}

            {% if request.path == '/communities_discover' or (request.path == '/search_page' and tag is defined) %}
                <h5 class="card-title">{{ tag.name }}</h5>
                <p class="card-text">Number of followers: {{ tag.follower_number }}</p>
            {% endif %}
        </div>

        {% if request.path == '/friends_list' %}
            <div>
                <div class="btn">
                    <form method="post" action="/chats">
                        <input type="hidden" name="friend_id" value="{{ friend.id }}">
                        <input type="hidden" name="action" value="open_chat">
                        <button type="submit" class="btn btn-primary">
                            Chat
                        </button>
                    </form>
                </div>

                {#TODO Make the remove friend button work #}
                <div class="btn">
                        <button type="submit" class="btn btn-danger" onclick="addFriend('{{ friend.id }}', 'delete'); this.disabled=true;">
                            Remove Friend
                        </button>
                </div>
            </div>
        {% endif %}


        {% if (request.path == '/search_page' and friend is defined) %}
            <button type="button" class="btn btn-success" onclick="addFriend('{{ friend.id }}', 'add'); this.disabled=true;">Add Friend</button>
        {% endif %}

        {% if request.path == '/friends_discover' %}
            {% if is_sug is not defined %}
                <div>
                    <div class="card_buttons_container">
                        <form method="post" action="/notification">
                            <input type="hidden" name="notif_id" value="{{ notifs[friend.id] }}">
                            <input type="hidden" name="friend_id" value="{{ friend.id }}">
                            <input type="hidden" name="action" value="accept_request">
                            <button type="submit" class="btn btn-success">
                                Accept
                            </button>
                        </form>
                        <form method="post" action="/notification">
                            <input type="hidden" name="notif_id" value="{{ notifs[friend.id] }}">
                            <input type="hidden" name="friend_id" value="{{ friend.id }}">
                            <input type="hidden" name="action" value="decline_request">
                            <button type="submit" class="btn btn-danger">
                                Decline
                            </button>
                        </form>
                    </div>
                </div>
            {% else %}
                {% if friend.id in sent_fr %}
                    <div class="card_buttons_container">
                        <form method="post" action="/friends_discover">
                            <input type="hidden" name="friend_id" value="{{ friend.id }}">
                            <input type="hidden" name="action" value="friend_request">
                            <button type="submit" class="btn btn-success disabled">
                                Friend Request Pending
                            </button>
                        </form>
                    </div>
                {% else %}
                    <div class="card_buttons_container">
                        <form method="post" action="/friends_discover">
                            <input type="hidden" name="friend_id" value="{{ friend.id }}">
                            <input type="hidden" name="action" value="friend_request">
                            <button type="submit" class="btn btn-success">
                                Add friend
                            </button>
                        </form>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}

        {% if request.path == '/communities_discover' or (request.path == '/search_page' and tag is defined) %}

            <div class="btn">
                <form method="post" action="/communities_discover?id={{ tag.id }}">
                    <input type="hidden" name="to_join_community" value="{{ tag.id }}">
                    <input type="hidden" name="action" value="join_community">
                    <button type="submit" class="btn btn-success">
                        Join
                    </button>
                </form>
            </div>
        {% endif %}

        <!-- if user is sending friend request
    {% if request.path == '/friends_discover' %}
        <span>
            <button type="button" class="btn btn-success" onsubmit="acceptFriend()">Accept</button>
            <button type="button" class="btn btn-danger" onsubmit="acceptFriend()">Decline</button>
        </span>
    {% endif %}
    -->

        <!-- add if condition if user already sent friend request
    {% if request.path == '/friends_discover' %}
        <span>
            <a style="color: darkorange;"> Friend Request Already Sent. </a>
        </span>
    {% endif %}
     -->

        <script>
            function deleteFriend() {
                //script to delete a friend
            }
        </script>

        <script>
            function acceptFriend() {
                //script to add a friend
            }
        </script>

        <script>
            function declineFriend() {
                //script to add a friend
            }
        </script>

        <script>
            function followCom() {
                //script to follow a community (adds thread in your communities)
            }
        </script>

    </div>
{% else %}
    <div class="card">

        {% if request.path == '/friends_list' or request.path == '/friends_discover' %}
            <img src="..." class="card-img-top" alt="...">
        {% endif %}

        <div class="card-body">

            {% if request.path == '/friends_list' or request.path == '/friends_discover' %}
                <h5 class="card-title">Name</h5>
                <p class="card-text"># mutual friends.</p>
            {% endif %}
            {% if request.path == '/communities_discover' %}
                <h5 class="card-title">Community Name</h5>
                <p class="card-text">Number of followers.</p>
            {% endif %}

        </div>

        {% if request.path == '/friends_list' %}
            {#TODO Make the buttons work #}
            <span>
            <button type="button" class="btn btn-primary" onsubmit="openChat()">Chat</button>
            <button type="button" class="btn btn-danger" onclick="addFriend('{{ friend.id }}', 'delete'); this.disabled=true;">Remove Friend</button>
        </span>
        {% endif %}

        {% if request.path == '/friends_discover' %}
            <button type="button" class="btn btn-success"  onclick="addFriend('{{ friend.id }}', 'add'); this.disabled=true;">Add Friend</button>
        {% endif %}

        {% if request.path == '/communities_discover' %}
            <button type="button" class="btn btn-success" onsubmit="followCom()">Follow</button>
        {% endif %}

        <!-- if user is sending friend request
    {% if request.path == '/friends_discover' %}
        <span>
            <button type="button" class="btn btn-success" onsubmit="acceptFriend()">Accept</button>
            <button type="button" class="btn btn-danger" onsubmit="acceptFriend()">Decline</button>
        </span>
    {% endif %}
-->

        <script>
            function deleteFriend() {
                //script to delete a friend
            }
        </script>

        <script>
            function acceptFriend() {
                //script to add a friend
            }
        </script>

        <script>
            function declineFriend() {
                //script to add a friend
            }
        </script>

        <script>
            function openChat() {
                //script to open chat with a friend or create a chat if not already exists
            }
        </script>

        <script>
            function followCom() {
                //script to follow a community (adds thread in your communities)
            }
        </script>

    </div>
{% endif %}

