* {
    font-family: 'Amaranth';
}

.navbar {
    background-color: #FFBD59;
}

.btn-outline-success {
    color: black;
    border-color: black
}

.navbar-collapse{
    justify-content: space-between;
}

.nav-item {
    display: flex;
    align-items: center;
    fill: rgba(0, 0, 0, .5);
    padding-right: 1rem;
    padding-left: 1rem;
}

.login_window {
    background-color: #FFBD59;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 100vh;
    padding: 5vh;
    border-radius: 1rem;
}

.login_box a {
    color: #889EBB;
}

.login_box form {
    width: 100%;
}

.btn-primary {
    background-color: #889EBB;
    border-color: #889EBB;
}

.btn-primary:hover {
    background-color: #6CA8F8;
}

.body_row {
    display: flex;
    height: 100%;
    width: 100%
}

.side_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    height: 100%;
    margin-top: auto;
}

.side_block img {
    width: 100px;
}

.post_window {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width:70%;
    overflow: auto;
    border-left: .25rem solid #FFBD59;
    border-right: .25rem solid #FFBD59;
    margin-top: 1vh;
}

.card {
    margin: 2rem;
    width: 100%;
    border: 10px solid #FFBD59;
}

.post_date{
    font-size: small;
    font-style: italic;
    color: #889EBB;
}

.card_buttons_container {
    border-top: .1rem solid #889EBB;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: .5rem;
}

.card_buttons_container button {
    margin-left: 1.5rem;
}

.card_buttons_container a {
    font-size: small;
    font-style: italic;
    margin-left: .5rem;
}

.badge {
    background-color: #F15757;
}

.btn {
    align-self: flex-end;
}

.comment_container {
    width: 25rem ;
}

.post_window .form-group{
    border-top: .2rem solid #889EBB;
}

.comment_container form{
    margin-bottom: 2rem;
}

.grid_container {
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    padding: 1% 2%;
    gap: 5%;
    margin-bottom: 2rem;
}

.grid_container .card {
    width: 30vh;
    margin: 0;
    border: 3px solid #FFBD59;
    padding: 5px;
    font-size: small;
}

.section_title {
    width: 95%;
    margin: 1% 2%;
    font-size: larger;
    border-bottom: 5px solid #FFBD59;
}

.list-group {
    width: 100%;
}

.list-group-item {
    flex-direction: column;
}

.ms-2 {
    display: flex;
    flex-direction: column;
}

.side_block_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    height: 90vh;
    width: 25%;
    margin-top: 1vh;
}

.chat_window{
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 95%;
    padding: 2rem;
}

.chat {
    padding: .25rem;
    border:.25rem solid #FFBD59;
    border-radius: .5rem;
    max-width: 75%;
    margin-top: .5rem;
    margin-left: auto;
}

.chat2 {
    border:.25rem solid #889EBB;
    border-radius: .5rem;
    max-width: 75%;
    margin-top: .5rem;
    padding: .25rem;
    margin-right: auto;
}

.profile_header{
    width: 95%;
    font-size: larger;
    border-bottom: 5px solid #889EBB;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.profile_post_window{
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


