* {
    font-family: 'Amaranth';
    font-size: large;
}

.navbar {
    background-color: #FFBD59;
}

.btn-outline-success {
    color: black;
    border-color: black
}

.navbar-collapse{
    justify-content: space-between;
}

.nav-item {
    display: flex;
    align-items: center;
    fill: rgba(0, 0, 0, .5);
    padding-right: 1rem;
    padding-left: 1rem;
}

.login_window {
    background-color: #FFBD59;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 100vh;
    padding: 5vh;
    border-radius: 1rem;
}

.login_box a {
    color: #889EBB;
}

.login_box form {
    width: 100%;
}

.btn-primary {
    background-color: #889EBB;
    border-color: #889EBB;
}

.btn-primary:hover {
    background-color: #6CA8F8;
}

.body_row {
    display: flex;
    height: 100%;
    width: 100%
}

.side_block {
    display: block;
    height: 100%;
    width: 15%;
    margin-top: auto;
}

.side_block img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.post_window {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width:70%;
    overflow: auto;
    border-left: .25rem solid #FFBD59;
    border-right: .25rem solid #FFBD59;
    margin-top: 1vh;
}

.card {
    margin: 2rem;
    width: 100%;
    border: 10px solid #FFBD59;
}

.post_date{
    font-size: small;
    font-style: italic;
    color: #889EBB;
}

.card_buttons_container {
    border-top: .1rem solid #889EBB;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: .5rem;
}

.card_buttons_container button {
    margin-left: 1.5rem;
}

.card_buttons_container a {
    font-size: small;
    font-style: italic;
    margin-left: .5rem;
}

.badge {
    background-color: #F15757;
}

.btn {
    align-self: flex-end;
}

.comment_container {
    width: 25rem ;
}

.post_window .form-group{
    border-top: .2rem solid #889EBB;
    overflow: auto;
}

.comment_container form{
    margin-bottom: 2rem;
}

.grid_container {
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    padding: 1% 2%;
    gap: 5%;
    margin-bottom: 2rem;
}

.grid_container .card {
    width: 30vh;
    margin: 0;
    border: 3px solid #FFBD59;
    padding: 5px;
    font-size: small;
}

.section_title {
    width: 95%;
    margin: 1% 2%;
    font-size: larger;
    border-bottom: 5px solid #FFBD59;
}
